<a href="https://colab.research.google.com/github/ajaysaikiran2208/Recommendation-Systems/blob/main/K_Nearest_Neighbor_recommendation_system.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##***K Nearest Neighbor recommendation system*** for movies from TMDB

K Nearest Neighbour finds the point depending upon the distance.we have,

***1.Euclidean Distance*** 

***2.Manhattan Distance***

In the Case of **Classification** the new point will be having the value of class which has **highest points** in them.For example if we are classifying Male and Female with K=5[It should be always an odd value] and in this case 3 values are male and 2 values are female then new point will be male.

In the case of **Regression** the new point will be having the value of the **mean** of all the points since this is a continous data

***Outliers*** and ***Imbalance*** data will impact the performance of the model.

##Creating Recommendation Systems using Nearest Neighbors

Importing Libraries

In [2]:
import pandas as pd
import numpy as np

In [27]:
movies=pd.read_csv("/content/movies.csv")
movies.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [28]:
ratings=pd.read_csv("/content/ratings.csv")
ratings.head()

   userId  movieId  rating  timestamp
0       1        1   4.000  964982703
1       1        3   4.000  964981247
2       1        6   4.000  964982224
3       1       47   5.000  964983815
4       1       50   5.000  964982931

In [29]:
df=pd.merge(movies,ratings,on="movieId")
df.head()

   movieId             title  ... rating   timestamp
0        1  Toy Story (1995)  ...  4.000   964982703
1        1  Toy Story (1995)  ...  4.000   847434962
2        1  Toy Story (1995)  ...  4.500  1106635946
3        1  Toy Story (1995)  ...  2.500  1510577970
4        1  Toy Story (1995)  ...  4.500  1305696483

[5 rows x 6 columns]

In [30]:
df.drop(columns=["genres","timestamp"])

        movieId                                      title  userId  rating
0             1                           Toy Story (1995)       1   4.000
1             1                           Toy Story (1995)       5   4.000
2             1                           Toy Story (1995)       7   4.500
3             1                           Toy Story (1995)      15   2.500
4             1                           Toy Story (1995)      17   4.500
...         ...                                        ...     ...     ...
100831   193581  Black Butler: Book of the Atlantic (2017)     184   4.000
100832   193583               No Game No Life: Zero (2017)     184   3.500
100833   193585                               Flint (2017)     184   3.500
100834   193587        Bungo Stray Dogs: Dead Apple (2018)     184   3.500
100835   193609        Andrew Dice Clay: Dice Rules (1991)     331   4.000

[100836 rows x 4 columns]

In [31]:
combine_movie_rating=df.dropna(axis=0,subset=["title"])
movie_ratingcount=(combine_movie_rating.groupby(by=['title'])['rating']).count().reset_index().rename(columns={'rating':'totalratingcount'})[['title','totalratingcount']]
movie_ratingcount.head()

                                     title  totalratingcount
0                               '71 (2014)                 1
1  'Hellboy': The Seeds of Creation (2004)                 1
2                   'Round Midnight (1986)                 2
3                      'Salem's Lot (2004)                 1
4                'Til There Was You (1997)                 2

In [32]:
rating_with_totalratingcount=combine_movie_rating.merge(movie_ratingcount,left_on='title',right_on='title',how='left')
rating_with_totalratingcount.head()

   movieId             title  ...   timestamp  totalratingcount
0        1  Toy Story (1995)  ...   964982703               215
1        1  Toy Story (1995)  ...   847434962               215
2        1  Toy Story (1995)  ...  1106635946               215
3        1  Toy Story (1995)  ...  1510577970               215
4        1  Toy Story (1995)  ...  1305696483               215

[5 rows x 7 columns]

In [33]:
pd.set_option('display.float_format',lambda x:'%.3f'%x)
print(movie_ratingcount['totalratingcount'].describe())

count   9719.000
mean      10.375
std       22.406
min        1.000
25%        1.000
50%        3.000
75%        9.000
max      329.000
Name: totalratingcount, dtype: float64

In [34]:
popularity_threshold=50
rating_popular_movie=rating_with_totalratingcount.query('totalratingcount>=@popularity_threshold')
rating_popular_movie.head()

   movieId             title  ...   timestamp  totalratingcount
0        1  Toy Story (1995)  ...   964982703               215
1        1  Toy Story (1995)  ...   847434962               215
2        1  Toy Story (1995)  ...  1106635946               215
3        1  Toy Story (1995)  ...  1510577970               215
4        1  Toy Story (1995)  ...  1305696483               215

[5 rows x 7 columns]

In [35]:
rating_popular_movie.shape

(41362, 7)

In [36]:
movie_features=rating_popular_movie.pivot_table(index='title',columns='userId',values='rating').fillna(0)
movie_features.head()

userId                              1     2     3    ...   608   609   610
title                                                ...
10 Things I Hate About You (1999) 0.000 0.000 0.000  ... 0.000 0.000 0.000
12 Angry Men (1957)               0.000 0.000 0.000  ... 0.000 0.000 0.000
2001: A Space Odyssey (1968)      0.000 0.000 0.000  ... 3.000 0.000 4.500
28 Days Later (2002)              0.000 0.000 0.000  ... 3.500 0.000 5.000
300 (2007)                        0.000 0.000 0.000  ... 5.000 0.000 4.000

[5 rows x 606 columns]

In [37]:
from scipy.sparse import csr_matrix
movie_features_matrix=csr_matrix(movie_features.values)
from sklearn.neighbors import NearestNeighbors
model_knn=NearestNeighbors(metric="cosine",algorithm='brute')
model_knn.fit(movie_features_matrix)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [38]:
movie_features.shape

(450, 606)

In [39]:
query_index=np.random.choice(movie_features.shape[0])
print(query_index)
distances,indices=model_knn.kneighbors(movie_features.iloc[query_index,:].values.reshape(1,-1),n_neighbors=6)

355

In [41]:
movie_features.head()

userId                              1     2     3    ...   608   609   610
title                                                ...
10 Things I Hate About You (1999) 0.000 0.000 0.000  ... 0.000 0.000 0.000
12 Angry Men (1957)               0.000 0.000 0.000  ... 0.000 0.000 0.000
2001: A Space Odyssey (1968)      0.000 0.000 0.000  ... 3.000 0.000 4.500
28 Days Later (2002)              0.000 0.000 0.000  ... 3.500 0.000 5.000
300 (2007)                        0.000 0.000 0.000  ... 5.000 0.000 4.000

[5 rows x 606 columns]

In [45]:
for i in range(0,len(distances.flatten())):
  if i ==0:
    print('Recommendations for {0}:\n'.format(movie_features.index[query_index]))
  else:
    print('{0}:{1},with distance of {2}:'.format(i,movie_features.index[indices.flatten()[i]],distances.flatten()[i]))

Recommendations for Signs (2002):

1:War of the Worlds (2005),with distance of 0.40013256670477193:
2:Matrix Reloaded, The (2003),with distance of 0.40365920710674674:
3:Minority Report (2002),with distance of 0.4103143680310244:
4:A.I. Artificial Intelligence (2001),with distance of 0.4462507077641533:
5:School of Rock (2003),with distance of 0.45768692213636086: